<div class="section">
	<div class="container">
	<div class="columns is-centered">

    <div class="column is-4">
<h1>Post</h1>

<% @posts.each do |p| %>
  <div class="content">
    <% if user_signed_in? %>
      <strong><%= p.user.name %></strong><br />
    <% end %>
    <small><%= p.title %></small><br/>
  </div>
<% end %>
</div>
</div>
</div>
</div>